body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width:100%;
  height: calc(100vh - 88px);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assests/web.jpg');
  margin-bottom: 20px;
}
.pointer {
  cursor: pointer;
  &:hover{
    background-color: #ebcef0;
  }
}