body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  width:100%;
  height:800px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assests/web.jpg');
  margin-bottom: 20px;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 117, 214);
}
.right {
  position: absolute;
  right: 100px;
  top: 10px;
  width: 200px;
  text-align: center;
}
.rightBottom {
  border: 1px solid #ddd;
  border-radius: 10%;
  margin: 5px 0;
  cursor: pointer;
  &:hover{
    background-color: lightgray;
  }
}
.pointer {
  cursor: pointer;
  &:hover{
    background-color: lightgray;
  }
}